*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


language/java/*
src/com/language/parser/Parser.java
src/com/language/parser/Scanner.java
src/com/language/parser/sym.java